@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
body {
    display: flex;
    flex-direction: column;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper > * {
padding: 20px;
}
.page-main {
flex-grow: 1;
background: rgb(168, 164, 164);
}

.page-header {
    background: black;
    color: white;
}

.page-footer {
    background: black;
    color: white;
}


