@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin: 0;
}
header {
  display: flex;
  background: black;
  color: red;
}
footer {
  display: flex;
  background: black;
  color: red;
}
.main__container {
  flex-direction: row;
  display: flex;
}
nav {
  display: flex;
}
aside {
  display: flex;
}


