@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
body {
    display: flex;
    flex-direction: column;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper > * {
padding: 20px;
}
.main-wrapper {
    
    display: flex;
    flex-grow: 1;
    background: rgb(139, 78, 78);
}
.page-main {
    padding: 20px;
    display: flex;
    
    justify-content: center;
    flex-grow: 2;
    background: rgb(168, 164, 164);
}

nav {
    padding: 20px;
    display: flex;
    background: black;
    color: white;
}
aside {
    padding: 20px;
    display: flex;
    background: black;
    color: white;
}

.page-header {
    padding: 15px 60px;
    background: black;
    color: white;
}

.page-footer {
    background: black;
    color: white;
}

.logo {
    display: flex;
    align-items: baseline;
}

.first_word {
    color: #E93147;
}

.second_word {
    color: #FFFFFF;
}

h2 {
    /* height: 50px; */
    margin: 0;
    padding: 0;
    display: inline;
}


